.groot-div-bestemming{
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box; 
}

.Terug-en-naam{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   width: 100%;
    background-color: #060505;
}
.terug-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6.5rem;
    height: 2rem;
    margin: 0.5rem;
    background-color: #ffffff;
    border: none;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    border-radius: 1rem 1rem 1rem 1rem;
}
.terug-button:hover{
    background-color: #344897;
    transform: scale(1.1);
    transition: 0.5s;
}
.fa-arrow-left{
    font-size: 1rem;
    color: #060505;
    text-decoration: none;
}
.terug-div{
    width: 19%;
    display: flex;
    flex-direction: row-reverse;
}
.Terug-en-naam p{
    font-size: 1.5rem;
    color: white;
    margin: 2.9rem;

}
.title-bestemming{
    font-size: 2rem;
    color: white;
    margin: 2.9rem;
}
.bestemming-img-big-div{
    width: 100%;
    height:27rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bestemming{
    width: 58%;
    height: 100%;
    display: flex;
    object-fit: cover;
    gap: 3px;
}
.links-div-img{
    width: 45%;
    height: 100%;
    display: flex;
    gap: 3px;
    flex-direction: column;
}
.rechts-div-img{
    width: 55%;
    height: 100%;
    display: flex;
    gap: 3px;
    flex-direction: column;
    
}
.bovenste-img{
    width: 100%;
    height: 50%;
    background-image: url(../img/Frankijk-parijs-1.2.jpg);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.onderste-img{
    width: 100%;
    height: 50%;
    background-image: url(../img/frankrijk-paris2.jpg); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.omschrihhjving-bestemming{
    width: 100%;
    height: 50%;
    background-color: rgb(255, 255, 255);
}

.rechts-img-onder{
    width: 100%;
    height: 50%;
    display: flex;
    gap: 3px;
  
}
.links-img{
    width: 50%;
    height: 100%;
    background-image: url(../img/hoetl-frankrijk.jpg    );
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.rechts-img{
    width: 50%;
    height: 100%;
    background-image: url(../img/LeJulesVerne2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.omschrihhjving-titl{
    font-size: 1rem;
    color: #060505;
    margin: 0.5rem;

}