* {
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}
.logo-img {
    width: 100px;
    mix-blend-mode: difference;
}
.main{
  background: url("../img/Showcase-Cover.png") no-repeat center center/cover;
  min-height: 800px;
  border-radius: 0 0 50px 50px;
  background-color: aqua;
  display: flex;
}
