* {
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

nav {
    display: flex;
    height: 50px;
    padding-left: 30px;
    background-color: black;
}

.navigatie-first {
    display: flex;
    flex: 1;
    align-items: center;
    color: white;
    text-decoration: none;
    background-color: black;
}

.navigatie-first a {
    text-decoration: none;
    color: white;
}

.scheidingslijn {
    height: 20px;
    width: 1px;
    background-color: white;
    margin: 0 10px;
    display: 	inline-block;
}

.navigatie-second {
    display: flex;
    
    align-items: center;
    padding-right: 30px;
    color: white;
    text-decoration: none;
    background-color: black;
}

.navigatie-second a {
    text-decoration: none;
    color: white;
}
